
<h1>Movie Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, new_list_path(list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
